@use "./var/var";
@use "./reset/reset";

body {
  font-family: var(--font-geist);
  min-height: 100vh;
  background-color: var(--base-bg);
  min-width: 370px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--primary-50);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-250);
  border-radius: var(--rounded);
  transition: background-color 0.2s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary-300);
}
