.form {
  .title {
    margin-bottom: 15px;

    &.success {
      color: var(--success);
    }

    &.error {
      color: var(--danger);
    }

    @media screen and (max-width: 768px) {
      margin-bottom: 10px;
      font-size: 18px;
    }
  }

  .inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 30px;

    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr;
    }

    .textarea {
      grid-column: 1 / span 2;
      min-height: 150px;

      @media screen and (max-width: 768px) {
        grid-column: 1 / span 1;
      }
    }

    .countWrapperBlock {
      .labelSpan {
        font-size: 15px;
        color: var(--primary-300);
        margin-bottom: 5px;
      }

      .countWrapper {
        display: flex;
        align-items: center;
        gap: 10px;

        .spanCount {
          border: 1px solid var(--base-border);
          border-radius: var(--rounded);
          background-color: var(--base-white);
          padding: 10px;
          width: 100px;
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
        }

        .btn {
          padding: 10px;
          width: 40px;
          height: 40px;

          &.btnMinus {
            background-color: var(--primary-50);
          }

          &.btnPlus {
            background-color: var(--primary-300);
          }
        }
      }
    }
  }
}
