.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-inline: auto;
  margin-bottom: 40px;

  @media (max-width: 768px) {
    flex-direction: column;
    margin-bottom: 30px;
    width: 100%;
    align-items: stretch;
  }

  .item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
    flex: 1;

    @media screen and (max-width: 768px) {
      justify-content: flex-start;
      gap: 20px;
      padding-bottom: 15px;
      border-bottom: 1px solid var(--base-border);

      &:last-child {
        border: none;
      }
    }

    .link {
      position: absolute;
      inset: 0;
    }

    .iconSpan {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 12px;
      border-radius: var(--rounded);
      width: 42px;
      height: 42px;

      &.map {
        background-color: var(--secondary-350);
      }

      &.whatsapp {
        background-color: var(--primary-150);

        .whatsappIcon {
          font-size: 22px;
        }
      }

      &.instagram {
        background-color: var(--primary-400);
      }

      &.phone {
        background-color: var(--primary-300);
      }

      &.telegram {
        background-color: var(--primary-150);
      }

      &.facebook {
        background-color: var(--primary-350);
      }

      @media screen and (max-width: 768px) {
        padding: 8px;

        .img {
          width: 18px;
          height: 18px;
        }
      }
    }

    .right {
      display: flex;
      flex-direction: column;
      gap: 2px;
    }
  }
}
