.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-inline: auto;
  margin-bottom: 40px;

  @media (max-width: 768px) {
    flex-direction: column;
    margin-bottom: 30px;
    width: 100%;
    align-items: stretch;
  }

  .item {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;

    .link {
      position: absolute;
      inset: 0;
    }

    .iconSpan {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 12px;
      border-radius: var(--rounded);

      &.map {
        background-color: var(--secondary-350);
      }

      &.instagram {
        background-color: var(--primary-400);
      }

      &.phone {
        background-color: var(--primary-300);
      }

      &.telegram {
        background-color: var(--primary-150);
      }

      &.facebook {
        background-color: var(--primary-350);
      }

      @media screen and (max-width: 768px) {
        padding: 8px;

        .img {
          width: 15px;
          height: 15px;
        }
      }
    }

    .right {
      display: flex;
      flex-direction: column;
      gap: 2px;
    }
  }
}
