.swiperWrapper {
  padding-block: 30px !important;

  .btns {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;

    .btnLeft {
      img {
        transform: rotate(180deg);
      }
    }

    .btnNotActive {
      cursor: not-allowed;
      opacity: 0.7;
    }
  }
}
