.wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;

  .label {
    font-size: 15px;
    color: var(--primary-300);
  }

  .select {
    display: block;
    width: 100%;
    background-color: var(--base-white);
    padding: 10px;
    border: 1px solid var(--base-border);
    border-radius: var(--rounded);
    color: var(--gray-250);
    font-family: var(--font-geist);
    font-size: 14px;
    font-weight: 500;

    &::placeholder {
      color: var(--gray-300);
    }

    &.errorSelect {
      border-color: var(--danger);
    }
  }

  .errorSpan {
    color: var(--danger);
    margin-top: 5px;
  }
}
