.footer {
  background-color: var(--primary-300);
  padding-block: 50px;

  .inner {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    @media screen and (max-width: 768px) {
      flex-direction: column;
      gap: 40px;
    }

    .left {
      display: flex;
      flex-direction: column;
      gap: 7px;

      .phone,
      .email {
        color: var(--base-white);
        position: relative;

        .leftLink {
          position: absolute;
          inset: 0;
        }
      }

      .address {
        color: var(--primary-50);
        font-weight: 500;
      }
    }
    .right {
      display: flex;
      justify-content: space-between;
      gap: 50px;

      @media screen and (max-width: 768px) {
        flex-direction: column;
      }

      .linksWrapper {
        .topDesc {
          margin-bottom: 20px;
          color: var(--base-white);
        }

        .links {
          display: flex;
          flex-direction: column;
          gap: 7px;

          .link {
            color: var(--base-white);
            &:hover {
              color: var(--primary-50);
            }
          }
        }
      }

      .socialWrapper {
        .topDesc {
          margin-bottom: 20px;
          color: var(--base-white);
        }

        .social {
          display: flex;
          align-items: center;
          gap: 10px;

          .socialLink {
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid var(--gray-250);
            padding: 10px;
            border-radius: var(--rounded);

            transition: background-color 0.2s ease-in-out;

            &:hover {
              background-color: var(--primary-400);
            }
          }
        }
      }
    }
  }
}
