.link {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  color: var(--gray-250);
  padding: 10px 15px;
  border: 1px solid transparent;
  border-radius: var(--rounded);
  transition:
    background-color 0.2s ease-in-out,
    border-color 0.2s ease-in-out;

  &:hover,
  &.active {
    background-color: var(--base-bg);
    border-color: var(--base-border);
  }
}
