.wrapper {
  padding-block: 10px;

  .topBlock {
    margin-bottom: 20px;

    .topBlockTitle {
      color: var(--primary-300);
      text-align: center;
    }
  }

  .block {
    display: flex;
    gap: 10px;

    @media screen and (max-width: 768px) {
      flex-direction: column;
    }

    .imgBlock {
      flex: 1.5;
      border-radius: var(--rounded);
      overflow: hidden;
      height: 180px;
      display: flex;

      .img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .infoBlock {
      flex: 2;

      .title {
        color: var(--primary-250);

        @media screen and (max-width: 768px) {
          text-align: center;
        }
      }

      .desc {
        font-weight: 400;
        margin-block: 7px;

        @media screen and (max-width: 768px) {
          text-align: center;
        }
      }

      .price {
        color: var(--secondary-400);
      }
    }
  }
}
