.block {
  .mainTitle {
    margin-bottom: 20px;
  }

  .tabBlock {
    .tabHeader {
      display: flex;
      gap: 10px;

      .span {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px 20px;
        border-radius: var(--rounded);
        cursor: pointer;
        transition: background-color 0.2s ease-in-out;

        &:hover,
        &.active {
          background-color: var(--primary-100);
        }
      }
    }

    .tabBody {
      padding: 20px 0;
      display: flex;
      flex-direction: column;
      gap: 20px;

      .tabItem {
        display: flex;
        align-items: center;
        gap: 20px;

        @media screen and (max-width: 768px) {
          border-bottom: 1px solid var(--base-border);
          padding-bottom: 10px;

          &:last-child {
            border-bottom: none;
          }
        }

        .eventTime {
          min-width: 80px !important;
          height: 80px;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          background-color: var(--base-border);
          border-radius: var(--rounded);

          @media screen and (max-width: 768px) {
            min-width: 60px !important;
            height: 60px;
            font-size: 14px;
          }
        }

        .activityTitle {
          color: var(--primary-300);
          margin-bottom: 5px;
        }

        .activityDescription {
          color: var(--gray-250);

          @media screen and (max-width: 768px) {
            font-size: 15px;
          }
        }
      }
    }
  }
}
