.swiperWrapper {
  padding-block: 30px !important;

  .swiperItem {
    border-radius: 15px;
    overflow: hidden;
    height: 460px;
    background-color: var(--base-white);
    padding: 5px;
    border: 1px solid var(--base-border);

    @media screen and (max-width: 768px) {
      height: 350px;
    }

    .img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
    }
  }

  .btns {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;

    .btnLeft {
      img {
        transform: rotate(180deg);
      }
    }
  }
}
