*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

a {
  text-decoration: none;
  display: inline-flex;
}

span {
  display: inline-flex;
}

button {
  border: none;
  background-color: transparent;
  display: inline-flex;
  font-family: var(--font-geist);
}

#wrapper-block-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#main {
  flex: 1;
}
