.block {
  display: flex;
  flex-direction: column;
  gap: 7px;

  .starWrapper {
    display: flex;
    gap: 5px;
    cursor: pointer;
  }
}

.star {
  width: 26px;
  height: 26px;
  background-color: var(--base-border);
  transition: 0.2s ease;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.star:hover {
  transform: scale(1.1);
}

.active {
  background-color: var(--primary-150);
}
