.form {
  .title {
    margin-bottom: 15px;

    &.success {
      color: var(--success);
    }

    &.error {
      color: var(--danger);
    }

    @media screen and (max-width: 768px) {
      margin-bottom: 10px;
      font-size: 18px;
    }
  }

  .inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 30px;

    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr;
      gap: 20px;
    }

    .textarea {
      grid-column: 1 / span 2;
      min-height: 150px;

      @media screen and (max-width: 768px) {
        grid-column: 1 / span 1;
      }
    }
  }
}
