.section {
  padding-block: 50px;

  .container {
    display: flex;
    flex-direction: column;

    .products {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
      gap: 10px;
      margin-bottom: 30px;
    }

    // .loopBtn {
    //   align-self: center;
    //   gap: 5px;
    // }
  }
}
