.pageLoading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--base-white);
  z-index: 9999;
  padding: 20px;
}

.spinner {
  width: 60px;
  height: 60px;
  position: relative;

  @media screen and (max-width: 768px) {
    width: 40px;
    height: 40px;
  }
}

.doubleBounce1,
.doubleBounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--primary-150);
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  animation: bounce 2s infinite ease-in-out;
}

.doubleBounce2 {
  animation-delay: -1s;
}

@keyframes bounce {
  0%,
  100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}
