.section {
  height: 70vh;

  background-image:
    linear-gradient(
      to top,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.4)
    ),
    url("/catalog/bg.jpg");
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 100% 0, 100% 87%, 0% 100%);
  padding: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  .content {
    max-width: 1000px;
    width: 100%;
    text-align: center;

    .heading {
      color: var(--base-white);
      margin-bottom: 10px;
    }

    .desc {
      color: var(--base-white);
    }
  }
}
