.bannerSwiper {
  clip-path: polygon(0 0, 100% 0, 100% 87%, 0% 100%);
  overflow: hidden;

  .swiperItem {
    min-height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;

    .innerItem {
      text-align: center;
      max-width: 750px;
      width: 100%;
      margin-inline: auto;
      position: relative;

      .titleOne {
        color: var(--base-white);
      }

      .titleTwo {
        color: var(--base-white);
        margin-block: 10px;
      }

      .titleThree {
        color: var(--base-white);
        margin-bottom: 50px;
      }

      .btnWrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        @media screen and (max-width: 768px) {
          flex-direction: column;

          & > button {
            width: 100%;
            text-align: center !important;
            align-items: center;
            justify-content: center;
            padding: 15px !important;
          }
        }
      }
    }
  }
}
