.block {
  height: 500px;

  @media screen and (max-width: 768px) {
    height: 350px;
  }

  .img {
    border-radius: var(--rounded);
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
