:root {
  --font-geist: var(--font-geist);

  --primary-550: #010707;
  --primary-500: #010e0e;
  --primary-450: #021415;
  --primary-400: #031b1c;
  --primary-350: #032223;
  --primary-300: #042a2b;
  --primary-250: #0a6d71;
  --primary-200: #11b2b8;
  --primary-150: #2be5eb;
  --primary-100: #71eef2;
  --primary-50: #b8f6f8;

  --secondary-550: #322d03;
  --secondary-500: #655a06;
  --secondary-450: #97870a;
  --secondary-400: #c9b30d;
  --secondary-350: #f0d81b;
  --secondary-300: #f4e04d;
  --secondary-250: #f6e56b;
  --secondary-200: #f7eb89;
  --secondary-150: #f9f0a6;
  --secondary-100: #fbf5c4;
  --secondary-50: #fdfae1;

  --base-white: #fff;
  --base-netural-white: rgba(255, 255, 255, 0.5);
  --base-black: #000;
  --base-netural-black: rgba(0, 0, 0, 0.5);
  --base-border: #f2f3f4;
  --base-bg: #fcfcfc;

  --gray-250: #3a4352;
  --gray-200: #4a5568;
  --gray-150: #687792;
  --gray-100: #909cb0;
  --gray-50: #bac1ce;

  --rounded: 6px;

  --z-index-header: 100;
  --z-index-modal: 1000;
}
