.starBallWrapper {
  display: flex;
  gap: 5px;
}

.star {
  width: 24px;
  height: 24px;
  display: block;
  background-color: var(--base-border);
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.full {
  background-color: var(--primary-150);
}

.half {
  background: linear-gradient(
    90deg,
    var(--primary-150) 50%,
    var(--base-border) 50%
  );
}
