.switchLangWrapper {
  display: inline-flex;
  position: relative;
  border: 1px solid var(--base-border);
  padding: 10px 20px;
  border-radius: var(--rounded);
  cursor: pointer;

  &:hover {
    .langsWrapper {
      opacity: 1;
      pointer-events: all;
      visibility: visible;
    }

    .currentLang {
      img {
        transform: rotate(180deg);
      }
    }
  }

  &.mobile {
    width: 100%;

    .currentLang {
      width: 100%;
      justify-content: space-between;
    }

    .langsWrapper {
      width: 100%;
    }
  }

  .currentLang {
    align-items: center;
    gap: 7px;

    img {
      transform: rotate(0deg);
      transition: transform 0.2s ease-in-out;
    }
  }

  .langsWrapper {
    position: absolute;
    top: 100%;
    left: 0;
    width: 150px;
    padding-top: 10px;
    z-index: 10;

    opacity: 0;
    pointer-events: none;
    visibility: hidden;

    transition:
      opacity 0.2s ease-in-out,
      visibility 0.2s ease-in-out;

    .langs {
      background-color: var(--base-white);
      border: 1px solid var(--base-border);
      border-radius: var(--rounded);
      display: flex;
      flex-direction: column;
      overflow: hidden;

      .lang {
        border-bottom: 1px solid var(--base-border);
        display: inline-flex;
        padding: 10px 12px;
        cursor: pointer;

        &:last-child {
          border: none;
        }

        &:hover,
        &.active {
          background-color: var(--base-bg);
        }
      }
    }
  }
}
