.block {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 10px;

  .firstSpan {
    background-color: var(--base-border);
    padding: 20px;
    border-radius: var(--rounded);
    color: var(--primary-300);
    position: relative;

    .link {
      position: absolute;
      inset: 0;
    }

    @media screen and (max-width: 768px) {
      padding: 10px;
      font-size: 14px;
    }
  }

  .lastSpan {
    background-color: var(--base-white);
    padding: 20px;
    border-radius: var(--rounded);
    color: var(--gray-100);

    overflow: auto;
    white-space: nowrap;

    &::-webkit-scrollbar {
      width: 5px;
      height: 5px;
    }

    &::-webkit-scrollbar-track {
      background: var(--base-white);
      border-radius: var(--rounded);
    }

    &::-webkit-scrollbar-thumb {
      background: var(--base-border);
      border-radius: var(--rounded);
    }

    &::-webkit-scrollbar-thumb:hover {
      background: var(--gray-50);
    }

    @media screen and (max-width: 768px) {
      padding: 10px;
      font-size: 14px;
      width: 180px;
    }
  }
}
