.block {
  .mainTitle {
    margin-bottom: 20px;
  }

  .textBlockWrapper {
    padding-block: 5px;

    .importantInfo {
      line-height: 1.6;

      b {
        font-weight: 600;
      }

      br {
        margin-bottom: 8px;
      }
    }
  }
}
