.logo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 80px;
  height: 80px;

  @media screen and (max-width: 768px) {
    width: 60px;
    height: 60px;
  }

  .img {
    object-fit: cover;
  }

  .link {
    position: absolute;
    inset: 0;
  }
}
