.product {
  border: 1px solid var(--base-border);
  background-color: var(--base-white);
  border-radius: 15px;
  padding: 5px;
  position: relative;

  .link {
    position: absolute;
    inset: 0;
    z-index: 1;
  }

  &:hover {
    img {
      transform: scale(1.1);
    }
  }

  .imgBlock {
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    height: 250px;

    img {
      width: 100% !important;
      height: 100% !important;
      object-fit: cover;
      transition: transform 0.3s ease-in-out;
    }
  }

  .body {
    padding: 15px;

    .title {
      margin-bottom: 7px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      line-clamp: 1;

      @media screen and (max-width: 768px) {
        display: none;
      }
    }

    .titleMobile {
      display: none;

      @media screen and (max-width: 768px) {
        display: block;
        margin-bottom: 7px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        line-clamp: 1;
      }
    }

    .day {
      background-color: var(--base-border);
      border-radius: var(--rounded);
      padding: 5px 20px;
      display: inline-flex;
      margin-block: 13px;
    }

    .ball {
      display: flex;
      align-items: center;
      gap: 5px;

      .count {
        color: var(--gray-150);
      }

      .star {
        width: 24px;
        height: 24px;
        background-color: var(--primary-150);
      }
    }

    .name {
      margin-block: 10px;
      color: var(--base-black);

      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      line-clamp: 1;
    }

    .price {
      color: var(--primary-300);
      margin-bottom: 20px;

      @media screen and (max-width: 768px) {
        display: none;
      }
    }

    .priceDesc {
      color: var(--primary-300);
      display: none;

      @media screen and (max-width: 768px) {
        margin-bottom: 20px;
        display: block;
      }
    }

    .btns {
      display: flex;
      align-items: center;
      gap: 10px;

      @media screen and (max-width: 768px) {
        flex-direction: column;
      }

      .btnBook {
        position: relative;
        z-index: 2;
      }

      .btnLink {
        position: relative;
        z-index: 2;

        .productLinkLearnMore {
          position: absolute;
          inset: 0;
        }
      }
    }
  }
}
