.section {
  padding-block: 40px 0;

  .content {
    .mainImgWrapper {
      display: flex;
      height: 450px;
      border-radius: var(--rounded);
      overflow: hidden;
      margin-bottom: 20px;

      @media screen and (max-width: 768px) {
        height: 300px;
      }

      .img {
        width: 100%;
        height: 100%;
        object-fit: contain;

        @media screen and (max-width: 768px) {
          object-fit: cover;
        }
      }
    }

    .textBlock {
      text-align: center;
      max-width: 800px;
      width: 100%;
      margin-inline: auto;

      .title {
        margin-bottom: 10px;

        @media screen and (max-width: 768px) {
          display: none;
        }
      }

      .titleMobile {
        display: none;
        margin-bottom: 10px;

        @media screen and (max-width: 768px) {
          display: block;
        }
      }

      .desc {
        @media screen and (max-width: 768px) {
          display: none;
        }
      }

      .descMobile {
        display: none;
        @media screen and (max-width: 768px) {
          display: block;
        }
      }
    }
  }
}
